In [137]:
import hvplot.pandas
import pandas as pd
import requests

import os
import urllib

# Import API key
# from api_keys import geoapify_key


# Turn off warning messages
# import warnings
# warnings.filterwarnings("ignore")

In [138]:
airport_list = ['Belfast International Airport', 'Cardiff Airport', 'Glasgow Airport', 'Heathrow Airport']

In [5]:
# Load the airport CSV files

In [174]:
# Load weather txt files and convert to dataframe
belfast_airport_armagh = "https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/armaghdata.txt"
cardiff_airport_bute_park = "https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/cardiffdata.txt"
glasgow_airport_paisley = "https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/paisleydata.txt"
heathrow_airport_heathrow = "https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/heathrowdata.txt"

airport_weather_stations = [belfast_airport_armagh, cardiff_airport_bute_park, glasgow_airport_paisley, heathrow_airport_heathrow]
airport_weather_df = []
for weather_station in airport_weather_stations:
    airport_file = urllib.request.urlopen(weather_station)
    lines, year, month, temp_max, temp_min, af_days, rain_mm, sun_hours = [], [], [], [], [], [], [] , []
    
    for line in airport_file:
        lines.append(line.decode("utf-8"))
    lines = lines[7:]
    for line in lines:
        line = line.split()
        year.append(line[0])
        month.append(line[1])
        temp_max.append(line[2])
        temp_min.append(line[3])
        af_days.append(line[4])
        rain_mm.append(line[5])
        sun_hours.append(line[6])

    weather_station_df = pd.DataFrame({"Year": year, "Month": month, "Max Temp C": temp_max, "Min Temp C": temp_min, "Af days": af_days, "Rain mm": rain_mm, "Sun Hrs": sun_hours})
    weather_station_df = weather_station_df.loc[weather_station_df["Year"] == "2018"]
    
    airport_weather_df.append(weather_station_df)

    
airport_weather_df[0]    
# print(airport_weather_df[0])
# print(airport_weather_df[1])
# print(airport_weather_df[2])
# print(airport_weather_df[3])

      Year Month Max Temp C Min Temp C Af days Rain mm Sun Hrs
1980  2018     1        7.2        1.8       6   127.1    51.1
1981  2018     2        7.1        0.2      11    61.6    96.6
1982  2018     3        8.2        1.4       9    66.3    79.4
1983  2018     4       12.8        5.0       2    75.6   129.2
1984  2018     5       17.9        7.9       0    32.8   202.5
1985  2018     6       21.9       10.4       0    49.5   189.5
1986  2018     7       21.6       12.2       0    58.4   178.9
1987  2018     8       19.1       11.7       0    80.4   118.8
1988  2018     9       16.5        8.7       0    31.5   105.7
1989  2018    10      13.0*        6.5       3    32.8    94.5
1990  2018    11      10.2*        5.0       3   109.5    66.8
1991  2018    12       9.0*        4.8       2    85.7    23.5

In [48]:
# Load weather txt files and convert to dataframe
heathrow_weather_path = "resources/heathrowdata.txt"

with open()